@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes falling {
   0%{
      margin-top: -200px;
   }
   10%{
      margin-top: 0px;
   }
   20%{
      margin-top: 30px;
   }
   30%{
      margin-top: 60px;
   }
   40%{
      margin-top: 90px;
   }
   50%{
      margin-top: 120px;
   }
   60%{
      margin-top: 150px;
   }
   70%{
      margin-top: 180px;
   }
   80%{
      margin-top: 210px;
   }
   90%{
      margin-top: 240px;
   }
   100%{
      margin-top: 270px;
   }
   15%{
      margin-top: 15px;
   }
   25%{
      margin-top: 45px;
   }
   35%{
      margin-top: 75px;
   }
   45%{
      margin-top: 105px;
   }
   55%{
      margin-top: 135px;
   }
   65%{
      margin-top: 165px;
   }
   75%{
      margin-top: 195px;
   }
   85%{
      margin-top: 225px;
   }
   95%{
      margin-top: 255px;
   }
}

@keyframes scaling {
   0%{
      transform: scale(1);
   }
   10%{
      transform: scale(3);
   }
   20%{
      transform: scale(5);
   }
   30%{
      transform: scale(7);
   }
   40%{
      transform: scale(9);
   }
   50%{
      transform: scale(11);
   }
   60%{
      transform: scale(13);
   }
   70%{
      transform: scale(17);
   }
}


@keyframes fadeUp {
   to {
      opacity: 1;
   }
}

.container{
   position: relative;
}

.loadCircle{
   position: absolute;
   z-index: 1;
   left: 135px;
   overflow: hidden;
   background-image: linear-gradient(#00C8FF 0%,#0387FF 98%,#071CFF 100%);
   width: 50px;
   height: 50px;
   border-radius: 100px;
   animation: falling 0.5s ease forwards;
   margin-top: 270px;
}

.textBlock{
   position: absolute;
   z-index: 2;
   text-align: center;
   left: 23%;
   top: 200px;
}

.welcomeText,.momosTitle{
   color: white;
   font-family: Inter;
   opacity: 0;
}





